# Build artifacts
amphitude
server_app
*.exe
game
server/server_app
*.o
*.dSYM/
build/
*.dmg
_CPack_Packages/
install_manifest.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

.DS_Store
Thumbs.db
.vscode/
.idea/
amphitude
server_app